<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>My Information</h3></div>

  <!-- Table -->
  <table class="table table-condensed">
    <tr>
      <td width="200">First Name</td>
      <td width="*"><input id="first_name" type="text" name="first_name" size="75" placeholder="Jane"></td>
    </tr>
    <tr>
      <td width="200">Last Name</td>
      <td width="*"><input id="last_name" type="text" name="last_name" size="75" placeholder="Doe"></td>
    </tr>
    <tr>
      <td width="200">Address Line 1</td>
      <td width="*"><input id="address_first" type="text" name="address_first" size="75" placeholder="123 Main St."></td>
    </tr>
    <tr>
      <td width="200">Address Line 2</td>
      <td width="*"><input id="address_second" type="text" name="address_second" size="75" placeholder="Apt. 1"></td>
    </tr>
    <tr>
      <td width="200">City</td>
      <td width="*"><input id="city" type="text" name="city" size="75" placeholder="Chicago"></td>
    </tr>
    <tr>
      <td width="200">State</td>
      <td width="*"><input id="state" type="text" name="state" size="75" placeholder="Illinois"></td>
    </tr>
    <tr>
      <td width="200">ZIP</td>
      <td width="*"><input id="zip" type="text" name="zip" size="75" placeholder="60654"></td>
    </tr>
  </table>
</div>
