<form action="profile_edited">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand active" href="#">Edit Profile</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="profile_edit" class="list-group-item">User Information</a>
          <a href="profile_pic_process" class="list-group-item">Profile Picture</a>
          <a href="pers_info_process" class="list-group-item">Personal Information</a>
          <a href="special_dates_process" class="list-group-item">Special Dates</a>
        </div>
      </div>

      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Special Dates</h3>
          </div>
          <div class="panel-body">
            <div class="panel panel-default">

              <!-- Table -->
              <table class="table table-condensed">
                <tr>
                  <td width="200">Birthday</td>
                  <td width="*">
                    <input id="birthday_month" type="text" name="birthday_month" placeholder="January">
                    <input id="birthday_day" type="text" name="birthday_day" placeholder="1" size="3">,
                    <input id="birthday_year" type="text" name="birthday_year" placeholder="2015">
                  </td>
                </tr>
                <tr>
                  <td width="200">Anniversary</td>
                  <td width="*">
                    <input id="anniversary_month" type="text" name="anniversary_month" placeholder="January">
                    <input id="anniversary_day" type="text" name="anniversary_day" placeholder="1" size="3">,
                    <input id="anniversary_year" type="text" name="anniversary_year" placeholder="2015">
                  </td>
                </tr>
                <tr>
                  <td width="200">Other:  <input id="other" type="text" name="other" placeholder="Graduation" size="15"></td>
                  <td width="*">
                    <input id="other_month" type="text" name="other_month" placeholder="January">
                    <input id="other_day" type="text" name="other_day" placeholder="1" size="3">,
                    <input id="other_year" type="text" name="other_year" placeholder="2015">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
